body { font:13px Arial, Helvetica, sans-serif; color:#666; background:#0A0A0A; height:100%; width:100%; line-height:1.4em; margin: 0 auto; padding: 0; text-align:center; }
h1 { color:#0000FF ; font-size:16px; font-style:italic; margin:20px 0; text-transform:capitalize;  }

body,div{ padding:0; margin:0; }
:link,:visited { text-decoration:none; }
.clear { clear:both; }
.bold { font-weight:bold;color:#000000; }
.blue { color:#0000FF ; }
#all { background:#fff; height:620px; width:100%;margin: 0 auto; padding: 0; text-align:center;} 

#main_left_hold { background:repeat-x; float:left; height:680px; width:40%; }
#main_left { float:right; height:680px; width:280px;  }

#logo {  margin:120px 0 0 -200px;}

#menu { height:250px; margin:auto 0; width:700px; }
.menu_box {color:#D9D9D9; font-size:26px; margin-top:20px; text-align:right; text-transform:uppercase; width:200px; }
.menu_sub_box { color:#777; font-size:12px; margin-top:auto; text-align:right; text-transform:uppercase; width:200px; }

#menu a:link,#menu a:visited{ color:#D9D9D9; }
#menu a:hover{ color:#3300CC ; }



#main_right { float:left; height:630px; width:60%; }
.scroll { height:620px; overflow:hidden; position:relative; }
.scrollContainer div.panel { height:450px; padding:150px 0 0; width:100%; }
.inner { height:450px; padding:0 10px; text-align:justify; width:570px; }
.inner ul { margin:0 0 0 10px; padding:0; }
.inner a:link,.inner a:visited { color:#DA4245; }
.inner a:hover,.inner a:active { color:#DA4245; font-size:26; font-weight:bold; }
.photo { float:right; margin:0 0 0 30px; }

#footer {width:20%;margin-left:auto;margin-right:auto;text-align:left;color:#ccc; line-height:1.2em;} 
#footer a:link,#footer a:visited { color:#ccc; } 
#footer a:hover,#footer a:active { text-decoration: underline overline;color:#DA4245; font-size:26; font-weight:bold; } 

